In [1]:
import pandas as pd
# from plotnine import *

# %matplotlib inline

In [2]:
data = pd.read_csv('../datasets/gamedetails.csv')
playerInfo = pd.read_csv('../datasets/playersinfo.csv')

In [3]:
print(data.shape)
print(playerInfo.shape)
# data.head()
col = data.columns[1:]
data = data[col].copy()

playerInfoCol = playerInfo.columns[1:]
playerInfo = playerInfo[playerInfoCol].copy()

(44514, 22)
(132, 9)

In [4]:
data.describe()

,gameId,teamId,points,playerId,fgm,fga,ftm,fta,tpm,tpa,offReb,defReb,assists,steals,blocks,pFouls,turnovers,plusMinus,minutes,seconds
count,44514.000000,44514.000000,44514.000000,44514.000000,44514.000000,44514.000000,44514.000000,44514.000000,44514.000000,44514.000000,44514.00000,44514.000000,44514.000000,44514.000000,44514.000000,44514.000000,44514.000000,44514.000000,44514.000000,44514.000000
mean,5121.639641,19.316732,8.681875,478.467089,3.204857,6.970167,1.386350,1.807589,0.885811,2.509615,0.80505,2.728872,1.920407,0.592712,0.384239,1.634609,1.054500,-0.000045,18.450982,24.620704
std,467.011351,11.540629,8.530190,331.967428,3.176252,6.117571,2.155063,2.635619,1.327951,2.864058,1.30888,2.821097,2.453618,0.912744,0.780321,1.532402,1.350789,10.318568,12.494288,19.267475
min,4308.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-47.000000,0.000000,0.000000
25%,4725.000000,9.000000,1.000000,206.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-6.000000,7.000000,5.000000
50%,5172.000000,20.000000,7.000000,398.000000,3.000000,6.000000,0.000000,0.000000,0.000000,2.000000,0.00000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,20.000000,23.000000
75%,5522.000000,27.000000,14.000000,776.000000,5.000000,11.000000,2.000000,3.000000,1.000000,4.000000,1.00000,4.000000,3.000000,1.000000,1.000000,3.000000,2.000000,5.000000,29.000000,42.000000
max,6221.000000,93.000000,61.000000,1844.000000,21.000000,40.000000,22.000000,27.000000,14.000000,24.000000,12.00000,23.000000,24.000000,8.000000,9.000000,6.000000,11.000000,50.000000,64.000000,59.000000

In [12]:
data["playerId"].value_counts()

581     146
514     144
738     144
270     143
322     143
       ...
1839      1
1123      1
1155      1
1151      1
1807      1
Name: playerId, Length: 768, dtype: int64

In [14]:
# look at team 
# data["teamId"].value_counts()
# data.groupby(['gameId', 'teamId']).agg('count')
data.groupby(['teamId']).agg('count')['gameId'].sort_values()

teamId
39      10
42      10
92      11
90      12
12      12
33      12
87      13
35      13
34      14
32      15
91      20
18      27
93      31
13      32
6     1222
7     1324
28    1336
4     1338
8     1343
1     1347
17    1349
24    1357
41    1367
19    1400
5     1411
40    1412
23    1413
25    1425
20    1440
15    1451
22    1452
27    1463
21    1477
30    1494
10    1516
14    1527
31    1543
26    1550
2     1628
16    1631
9     1645
29    1748
38    1824
11    1849
Name: gameId, dtype: int64

In [9]:
nonNba = [39, 42, 92, 90, 12, 33, 87, 35, 34, 32, 91, 18, 93, 13]

In [4]:
byGame_n_team = data.groupby(['gameId', 'teamId']).agg('sum').reset_index()

In [5]:
# check all gameId has 2 teams
game_by_team = byGame_n_team['gameId'].value_counts().tolist()

In [6]:
for g in game_by_team:
    if g != 2:
        print(g)

# yaay ! none means no anomaly

In [110]:
byGame_n_team

,gameId,teamId,points,playerId,fgm,fga,ftm,fta,tpm,tpa,offReb,defReb,assists,steals,blocks,pFouls,turnovers,plusMinus,minutes,seconds
0,4308,18,84,13058,31,82,13,14,9,33,8,29,15,10,1,26,20,-100,233,419
1,4308,27,104,9575,41,85,16,25,6,29,11,37,25,13,9,19,17,100,235,300
2,4309,2,97,13534,36,104,16,22,9,47,11,45,12,9,7,35,12,-35,235,300
3,4309,5,104,11722,34,89,25,39,11,36,12,53,17,4,7,22,17,35,235,299
4,4310,29,104,8825,37,88,18,25,12,31,11,35,25,4,2,45,24,-90,234,360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2757,6219,38,105,4850,36,86,23,24,10,32,6,32,22,12,4,21,9,65,234,360
2758,6220,11,106,4496,38,82,10,14,20,42,6,31,27,5,7,22,15,5,235,298
2759,6220,38,105,5223,38,85,21,27,8,32,13,30,19,6,5,19,13,-5,236,239
2760,6221,11,110,5310,39,80,21,30,11,31,11,31,28,9,6,23,16,-20,234,357
2761,6221,38,114,5315,39,82,23,29,13,33,11,28,25,8,2,23,12,20,236,239

In [9]:
# sort df by gameId, teamId
byGame_n_team.sort_values(["gameId", "teamId"], inplace=True)
# get opp team id, we have to get pts diff
byGame_n_team["oppTeamId"] = byGame_n_team.diff()["gameId"]

In [10]:
byGame_n_team[byGame_n_team["oppTeamId"] > 1]

,gameId,teamId,points,playerId,fgm,fga,ftm,fta,tpm,tpa,...,defReb,assists,steals,blocks,pFouls,turnovers,plusMinus,minutes,seconds,oppTeamId
664,4651,4,102,3037,33,79,22,26,14,45,...,37,26,2,4,22,18,-50,234,360,12.0
1492,5066,10,101,5222,36,82,19,25,10,29,...,33,21,6,2,23,14,-10,235,300,2.0
2594,5712,34,164,4545,66,140,5,7,27,77,...,45,43,8,1,6,12,-70,234,360,96.0
2598,5715,4,666,30414,228,528,144,156,66,156,...,210,90,54,12,162,66,270,1410,1800,2.0
2670,5753,11,121,5346,43,96,20,22,15,39,...,24,31,7,3,23,8,-40,236,240,3.0
2674,5757,9,103,5475,44,96,9,12,6,24,...,25,26,5,3,18,7,-85,233,420,3.0
2676,5761,11,258,10692,94,178,50,62,20,60,...,78,64,12,18,48,20,190,470,600,4.0
2678,6126,9,270,16425,105,264,54,69,6,60,...,120,63,9,24,57,18,60,705,900,365.0
2680,6152,27,285,17607,105,267,42,63,33,96,...,102,69,15,6,63,42,-195,702,1080,26.0
2702,6164,27,90,4771,28,65,25,30,9,27,...,36,16,4,7,21,15,-10,236,236,2.0
2704,6167,11,208,10692,76,150,42,54,14,44,...,60,48,14,6,48,40,40,472,480,3.0
2716,6178,9,121,5475,41,81,27,31,12,29,...,27,22,12,7,22,12,40,235,300,6.0
2730,6195,11,348,16422,126,252,45,54,51,99,...,93,90,39,24,72,42,330,696,1434,11.0
2738,6202,21,108,4131,37,93,23,27,11,44,...,45,21,8,11,16,12,40,235,296,4.0
2750,6216,11,109,5310,34,78,29,31,12,31,...,29,29,6,2,27,16,-45,236,237,9.0

In [11]:
byGame_n_team.isnull().sum()
# byGame_n_team.isnull().values

gameId       0
teamId       0
points       0
playerId     0
fgm          0
fga          0
ftm          0
fta          0
tpm          0
tpa          0
offReb       0
defReb       0
assists      0
steals       0
blocks       0
pFouls       0
turnovers    0
plusMinus    0
minutes      0
seconds      0
oppTeamId    1
dtype: int64

In [12]:
byGame_n_team.fillna(1, inplace=True)

In [13]:
# convert oppTeamId to int 
print(byGame_n_team["oppTeamId"].dtypes)
byGame_n_team["oppTeamId"] = byGame_n_team["oppTeamId"].astype('int32')
print(byGame_n_team["oppTeamId"].dtypes)

float64
int32

In [86]:
byGame_n_team.loc[664:665]

,gameId,teamId,points,playerId,fgm,fga,ftm,fta,tpm,tpa,...,defReb,assists,steals,blocks,pFouls,turnovers,plusMinus,minutes,seconds,oppTeamId
664,4651,4,102,3037,33,79,22,26,14,45,...,37,26,2,4,22,18,-50,234,360,12.0
665,4651,22,112,5900,44,92,15,17,9,25,...,29,25,15,4,20,7,50,236,240,0.0

In [87]:
byGame_n_team[byGame_n_team["gameId"] == 6216]

,gameId,teamId,points,playerId,fgm,fga,ftm,fta,tpm,tpa,...,defReb,assists,steals,blocks,pFouls,turnovers,plusMinus,minutes,seconds,oppTeamId
2750,6216,11,109,5310,34,78,29,31,12,31,...,29,29,6,2,27,16,-45,236,237,9.0
2751,6216,38,118,4955,39,77,27,32,13,33,...,29,25,6,6,26,10,45,236,239,0.0

In [14]:
byGame_n_team['oppTeamId'].value_counts()

0      1381
1      1366
3         3
2         3
4         2
365       1
11        1
9         1
96        1
26        1
12        1
6         1
Name: oppTeamId, dtype: int64

In [90]:
byGame_n_team[['gameId', 'teamId', 'points','oppTeamId']]

      gameId  teamId  points  oppTeamId
0       4308      18      84        1.0
1       4308      27     104        0.0
2       4309       2      97        1.0
3       4309       5     104        0.0
4       4310      29     104        1.0
...      ...     ...     ...        ...
2757    6219      38     105        0.0
2758    6220      11     106        1.0
2759    6220      38     105        0.0
2760    6221      11     110        1.0
2761    6221      38     114        0.0

[2762 rows x 4 columns]

## 1 gameId per row
1. separate home team from away team into 2 different dfs
2. merge these 2 dfs into 1 df

In [15]:
# separate home team from away team
home = byGame_n_team[byGame_n_team['oppTeamId'] >= 1].copy()
away = byGame_n_team[byGame_n_team['oppTeamId'] < 1].copy()

In [137]:
print(home.head())
print("==========================================================")
print(away.head())

   gameId  teamId  points  playerId  fgm  fga  ftm  fta  tpm  tpa  ...  \
0    4308      18      84     13058   31   82   13   14    9   33  ...
2    4309       2      97     13534   36  104   16   22    9   47  ...
4    4310      29     104      8825   37   88   18   25   12   31  ...
6    4311       8     116     12360   39   75   23   36   15   27  ...
8    4312      11     110      8305   44   93   10   13   12   34  ...

   defReb  assists  steals  blocks  pFouls  turnovers  plusMinus  minutes  \
0      29       15      10       1      26         20       -100      233
2      45       12       9       7      35         12        -35      235
4      35       25       4       2      45         24        -90      234
6      39       31       6      10      29         13        265      232
8      41       33       9       8      23         17        -20      231

   seconds  oppTeamId
0      419          1
2      300          1
4      360          1
6      480          1
8      539          1

[5 rows x 21 columns]
==========================================================
   gameId  teamId  points  playerId  fgm  fga  ftm  fta  tpm  tpa  ...  \
1    4308      27     104      9575   41   85   16   25    6   29  ...
3    4309       5     104     11722   34   89   25   39   11   36  ...
5    4310      38     122      8693   34   82   42   51   12   35  ...
7    4311      91      63     21783   17   71   23   31    6   23  ...
9    4312      22     114      9997   40   94   22   30   12   30  ...

   defReb  assists  steals  blocks  pFouls  turnovers  plusMinus  minutes  \
1      37       25      13       9      19         17        100      235
3      53       17       4       7      22         17         35      235
5      33       15       8       6      28         15         90      231
7      22       12       4       2      32         17       -265      231
9      36       15      11       6      16         15         20      234

   seconds  oppTeamId
1      300          0
3      299          0
5      540          0
7      539          0
9      360          0

[5 rows x 21 columns]

In [16]:
result = pd.merge(home, away, how="outer", left_on=["gameId"], right_on=["gameId"])

In [139]:
result[result["gameId"] == 6219]

,gameId,teamId_x,points_x,playerId_x,fgm_x,fga_x,ftm_x,fta_x,tpm_x,tpa_x,...,defReb_y,assists_y,steals_y,blocks_y,pFouls_y,turnovers_y,plusMinus_y,minutes_y,seconds_y,oppTeamId_y
1378,6219,11,92,5310,35,78,14,21,8,27,...,32,22,12,4,21,9,65,234,360,0

In [17]:
# check to make sure we dont get double gameId
print(result["gameId"].value_counts().shape)
print(byGame_n_team["gameId"].value_counts().shape)

(1381,)
(1381,)

In [18]:
result

,gameId,teamId_x,points_x,playerId_x,fgm_x,fga_x,ftm_x,fta_x,tpm_x,tpa_x,...,defReb_y,assists_y,steals_y,blocks_y,pFouls_y,turnovers_y,plusMinus_y,minutes_y,seconds_y,oppTeamId_y
0,4308,18,84,13058,31,82,13,14,9,33,...,37,25,13,9,19,17,100,235,300,0
1,4309,2,97,13534,36,104,16,22,9,47,...,53,17,4,7,22,17,35,235,299,0
2,4310,29,104,8825,37,88,18,25,12,31,...,33,15,8,6,28,15,90,231,540,0
3,4311,8,116,12360,39,75,23,36,15,27,...,22,12,4,2,32,17,-265,231,539,0
4,4312,11,110,8305,44,93,10,13,12,34,...,36,15,11,6,16,15,20,234,360,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1376,6217,11,109,5310,38,82,20,23,13,34,...,34,17,8,2,22,15,-25,236,238,0
1377,6218,11,109,5269,36,91,25,30,12,36,...,35,30,9,10,22,14,70,234,357,0
1378,6219,11,92,5310,35,78,14,21,8,27,...,32,22,12,4,21,9,65,234,360,0
1379,6220,11,106,4496,38,82,10,14,20,42,...,30,19,6,5,19,13,-5,236,239,0
1380,6221,11,110,5310,39,80,21,30,11,31,...,28,25,8,2,23,12,20,236,239,0

In [29]:
# get diff _x vs _y
cols = list()
for c in result.columns:
    if ("_x") in c:
        cols.append(c[:c.index("_x")])

In [39]:
dat = list()
for i, row in result.iterrows():
    for c in cols:
        row[c + "_delta"] = abs(row[c + "_x"] - row[c + "_y"])
    dat.append(row)

In [46]:
dat.types()

AttributeError: 'list' object has no attribute 'types'