In [1]:
import pandas as pd
from plotnine import *

%matplotlib inline

In [6]:
data = pd.read_csv('../datasets/gamedetails.csv')

In [17]:
print(data.shape)
# data.head()
col = data.columns[1:]
data = data[col].copy()

(44514, 21)

In [20]:
data.describe()

,gameId,teamId,playerId,fgm,fga,ftm,fta,tpm,tpa,offReb,defReb,assists,steals,blocks,pFouls,turnovers,plusMinus,minutes,seconds
count,44514.000000,44514.000000,44514.000000,44514.000000,44514.000000,44514.000000,44514.000000,44514.000000,44514.000000,44514.00000,44514.000000,44514.000000,44514.000000,44514.000000,44514.000000,44514.000000,44514.000000,44514.000000,44514.000000
mean,5121.639641,19.316732,478.467089,3.204857,6.970167,1.386350,1.807589,0.885811,2.509615,0.80505,2.728872,1.920407,0.592712,0.384239,1.634609,1.054500,-0.000045,18.450982,24.620704
std,467.011351,11.540629,331.967428,3.176252,6.117571,2.155063,2.635619,1.327951,2.864058,1.30888,2.821097,2.453618,0.912744,0.780321,1.532402,1.350789,10.318568,12.494288,19.267475
min,4308.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-47.000000,0.000000,0.000000
25%,4725.000000,9.000000,206.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-6.000000,7.000000,5.000000
50%,5172.000000,20.000000,398.000000,3.000000,6.000000,0.000000,0.000000,0.000000,2.000000,0.00000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,20.000000,23.000000
75%,5522.000000,27.000000,776.000000,5.000000,11.000000,2.000000,3.000000,1.000000,4.000000,1.00000,4.000000,3.000000,1.000000,1.000000,3.000000,2.000000,5.000000,29.000000,42.000000
max,6221.000000,93.000000,1844.000000,21.000000,40.000000,22.000000,27.000000,14.000000,24.000000,12.00000,23.000000,24.000000,8.000000,9.000000,6.000000,11.000000,50.000000,64.000000,59.000000