In [4]:
import pandas as pd
# from plotnine import *

# %matplotlib inline

In [6]:
data = pd.read_csv('../datasets/gamedetails.csv')
playerInfo = pd.read_csv('../datasets/playersinfo.csv')

In [10]:
print(data.shape)
print(playerInfo.shape)
# data.head()
col = data.columns[1:]
data = data[col].copy()

playerInfoCol = playerInfo.columns[1:]
playerInfo = playerInfo[playerInfoCol].copy()

(44514, 20)
(132, 9)

In [11]:
playerInfo.describe()

         playerId     startNba  heightInMeters  weightInKilograms
count  132.000000   132.000000      132.000000         132.000000
mean    71.878788  1492.795455        1.359167          66.985606
std     41.328886   882.637942        0.934275          46.801977
min      1.000000     0.000000        0.000000           0.000000
25%     35.750000     0.000000        0.000000           0.000000
50%     73.500000  2009.000000        1.960000          90.700000
75%    106.250000  2013.000000        2.030000         102.725000
max    146.000000  2016.000000        2.130000         120.200000

In [12]:
data["playerId"].value_counts()

581     146
514     144
738     144
270     143
322     143
       ...
1839      1
1123      1
1155      1
1151      1
1807      1
Name: playerId, Length: 768, dtype: int64